 <!-- Nav Bar-->
    <div class="nav-container" >
      <nav class="navbar navbar-expand navbar-light" id="navbar" style="background-color: purple;">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="localhost:3000">
              <img
                src="/images/movie_logo2.png"
                class="main-logo img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                alt="Movie Logo"
                style="height: 120px;"
                id="profileImg"
              /><span class="sr-only">(current)</span></a>
        </ul>
      </nav>
      <!--End of nav container-->
    </div>
    <!-- End Nav-->

